---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/blogs?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"316c59821e8760b19f33491184939a3d678828ae"'
      X-Worker-Node:
      - 2902a:6521
      X-Ratelimit-Remaining:
      - '16'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 5274, "blogs": [{"name": "Photos: The Walking Dead/Hyundai
        Party with Weezer, Comic-Con Thursday and Friday", "url": "http://www.owlandbear.com/2013/07/20/photos-the-walking-deadhyundai-party-with-weezer-comic-con-thursday-and-friday/?utm_source=rss&utm_medium=rss&utm_campaign=photos-the-walking-deadhyundai-party-with-weezer-comic-con-thursday-and-friday",
        "date_posted": "2013-07-21T00:00:37", "date_found": "2013-07-21T00:00:00",
        "summary": "In which O&B hits the red carpet Photos: The Walking Dead/Hyundai
        Party with <span>Weezer</span>, Comic-Con Thursday and Friday", "id": "a4d048a1ccc059d17c8dadcc54a8a607"}]}}'
  recorded_at: Sun, 21 Jul 2013 18:35:12 GMT
recorded_with: VCR 2.5.0
