---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/familiarity?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f92f59ad1944253dc6a0f32d73a4a11381ce2fda"'
      X-Worker-Node:
      - d1c7d:18375
      X-Ratelimit-Remaining:
      - '15'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artist": {"familiarity": 0.79796299999999998, "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Sun, 21 Jul 2013 18:35:12 GMT
recorded_with: VCR 2.5.0
