---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/hotttnesss?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d6a93164d65beaa4bd20271b8cfa5f77ef56caf7"'
      X-Worker-Node:
      - 20284:4731
      X-Ratelimit-Remaining:
      - '14'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '6'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artist": {"hotttnesss": 0.54442900000000005, "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Sun, 21 Jul 2013 18:35:12 GMT
recorded_with: VCR 2.5.0
