---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/create?api_key=BNOAEBT3IZYZI6WXI&artist=Weezer&format=json&type=artist-radio
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f6dbc943bd912cb73ae461b95a6c6ef6a2993ba8"'
      X-Worker-Node:
      - 20284:4770
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '18'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "session_id": "ba9667b24d454228bcada05145310148"}}'
  recorded_at: Sun, 21 Jul 2013 18:35:17 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/next?api_key=BNOAEBT3IZYZI6WXI&format=json&session_id=ba9667b24d454228bcada05145310148
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"be81073b4a4d499d85f15c686c72036dd49eafd2"'
      X-Worker-Node:
      - 962d4:15153
      X-Ratelimit-Remaining:
      - '1'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '19'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "lookahead": [], "songs": [{"artist_id": "AR633SY1187B9AC3B9", "id": "SOXOAAD1315CD45AC8",
        "artist_name": "Weezer", "title": "Only In Dreams"}]}}'
  recorded_at: Sun, 21 Jul 2013 18:35:17 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/next?api_key=BNOAEBT3IZYZI6WXI&format=json&session_id=ba9667b24d454228bcada05145310148
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"072ef77db46bd72537056bab448a5c02ef51517b"'
      X-Worker-Node:
      - c6357:3157
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "lookahead": [], "songs": [{"artist_id": "ARMKNC21187FB4696B", "id": "SOTANEK131712D0478",
        "artist_name": "Dashboard Confessional", "title": "The Best Deceptions"}]}}'
  recorded_at: Sun, 21 Jul 2013 18:35:17 GMT
recorded_with: VCR 2.5.0
