---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/create?api_key=BNOAEBT3IZYZI6WXI&artist=Weezer&format=json&type=artist-radio
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6da52731732c6ac3c097c4eb2f4aff09bba33d49"'
      X-Worker-Node:
      - 746e1:19973
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '15'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "session_id": "ad29fd24fdbe4d198494d11c168bde51"}}'
  recorded_at: Sun, 21 Jul 2013 18:35:16 GMT
recorded_with: VCR 2.5.0
