---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/create?api_key=BNOAEBT3IZYZI6WXI&artist=Weezer&format=json&type=artist-radio
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c6ae51c68497ebf992dc9a7d207c3e7043ec8b5e"'
      X-Worker-Node:
      - 2902a:6456
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "session_id": "089a5864be7a4dad992fad3e8de62e51"}}'
  recorded_at: Sun, 21 Jul 2013 18:35:16 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/next?api_key=BNOAEBT3IZYZI6WXI&format=json&session_id=089a5864be7a4dad992fad3e8de62e51
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"da4a2888868b435f57fd23a4415bdffcb66b2349"'
      X-Worker-Node:
      - d1c7d:18429
      X-Ratelimit-Remaining:
      - '3'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "lookahead": [], "songs": [{"artist_id": "AR633SY1187B9AC3B9", "id": "SOSJAHD13770F4D40C",
        "artist_name": "Weezer", "title": "My Name Is Jonas"}]}}'
  recorded_at: Sun, 21 Jul 2013 18:35:16 GMT
recorded_with: VCR 2.5.0
