---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BNOAEBT3IZYZI6WXI&bucket=id:musicbrainz&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c28e1ad1dc46c88debd23c3a107cfe40cf7be248"'
      X-Worker-Node:
      - 746e1:19893
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '11'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"foreign_ids": [{"catalog": "musicbrainz", "foreign_id": "musicbrainz:artist:6fe07aa5-fec0-4eca-a456-f29bff451b04"}],
        "id": "AR633SY1187B9AC3B9", "name": "Weezer"}, {"id": "ARHVIPZ122CC3B2537",
        "name": "Weezer Tribute"}, {"id": "ARIAWPS13C1C298E1A", "name": "Weezer Rascal"},
        {"id": "ARFLKGR13C1C2A6C75", "name": "Weezer Rasca"}, {"id": "ARRLJLF13221695F30",
        "name": "Weezer, Hayley Williams"}, {"id": "ARGGYKM13365906CDC", "name": "Weezer/Hayley
        Williams"}, {"id": "ARTHPBI13A23CD07FD", "name": "Weezer / Hayley Williams"}]}}'
  recorded_at: Sun, 21 Jul 2013 18:35:14 GMT
recorded_with: VCR 2.5.0
