---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"700e676090afa1ac9ea32bcba0aef208349d39dc"'
      X-Worker-Node:
      - d1c7d:18430
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '10'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"name": "Weezer", "id": "AR633SY1187B9AC3B9"}, {"name": "Weezer
        Tribute", "id": "ARHVIPZ122CC3B2537"}, {"name": "Weezer Rascal", "id": "ARIAWPS13C1C298E1A"},
        {"name": "Weezer Rasca", "id": "ARFLKGR13C1C2A6C75"}, {"name": "Weezer, Hayley
        Williams", "id": "ARRLJLF13221695F30"}, {"name": "Weezer/Hayley Williams",
        "id": "ARGGYKM13365906CDC"}, {"name": "Weezer / Hayley Williams", "id": "ARTHPBI13A23CD07FD"}]}}'
  recorded_at: Sun, 21 Jul 2013 18:35:14 GMT
recorded_with: VCR 2.5.0
