---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/songs?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"efb3596b19d4527749ecc8d9d86cc9d69e0e120c"'
      X-Worker-Node:
      - d1c7d:18374
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 298, "songs": [{"id": "SOIFQXL135C32569FE", "title":
        "Buddy Holly (iTunes Originals Version)"}, {"id": "SOLHYIQ1366A69089E", "title":
        "REPRESENT (Final)"}, {"id": "SODZXZK1366F0E6908", "title": "Tripping Down
        the Freeway"}, {"id": "SOPGWMW1366F0E2C10", "title": "Tripping Down the Freeway"},
        {"id": "SOULXBX136F4405696", "title": "SHOULD I STAY OR SHOULD I GO (Live)"},
        {"id": "SOXAWFQ12C106D1A96", "title": "BUDDY HOLLY (Stripped Live)"}, {"id":
        "SOLEVBU12AB0184ECA", "title": "Holiday (Live Version)"}, {"id": "SOKKIRO12B0B80A2F0",
        "title": "weezer tribute - a tribute to weezer - 13 - the ataris - butterfly"},
        {"id": "SONODKH13BE08932C5", "title": "Human-Exclusive"}, {"id": "SOFUENY12B0B80A2EC",
        "title": "weezer tribute - a tribute to weezer - 09 - the stereo - el scorcho"},
        {"id": "SOBEOSW12B0B80869C", "title": "weezer tribute - a tribute to weezer
        - 07 - midtown - susanne"}, {"id": "SOTZHFJ12C106D09B4", "title": "TROUBLEMAKER
        (Acoustic)"}, {"id": "SOYMLBV12A6D4F97DF", "title": "Photograph (Live Version)"},
        {"id": "SOMDYDI13D93F42B23", "title": "Perfect Situation (06)"}, {"id": "SOELLQZ13D647AD88E",
        "title": "Island In The Sun"}]}}'
  recorded_at: Sun, 21 Jul 2013 18:36:22 GMT
recorded_with: VCR 2.5.0
