---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=BNOAEBT3IZYZI6WXI&format=json&id=ARH6W4X1187B99274F
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b3f93a5c018f50c2eef44081137015edf9c76dc8"'
      X-Worker-Node:
      - 2d6ca:10040
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "terms": [{"frequency": 1.0, "name": "rock", "weight": 1.0}, {"frequency":
        0.49915255836573569, "name": "electronic", "weight": 0.75964306275187099},
        {"frequency": 0.28618680772610605, "name": "alternative rock", "weight": 0.61658031088082899},
        {"frequency": 0.41747722854500335, "name": "pop", "weight": 0.5174870466321243},
        {"frequency": 0.27342540253326775, "name": "alternative", "weight": 0.45905296488198044},
        {"frequency": 0.14489545951540508, "name": "art rock", "weight": 0.4264536557282671},
        {"fr[...]
